<h1>Welcome People!</h1>
<p>Tell us about yourself by filling in the form below.</p>

  <form action="/" method="post">
    <div class="row">

       <div class="col">
         <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First name">
       </div>

       <div class="col">
         <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last name">
       </div>

       <div class="col">
         <input id="hobby" name="hobby" type="text" class="form-control" placeholder="one of your hobbies">
       </div>

       <div class="col">
         <input id="location" name="location" type="text" class="form-control" placeholder="where do you live">
       </div>

     </div>

     <hr>
     <button type="submit" class="btn btn-primary">create</button>
  </form>

<h4>List of people that filled out the form</h4>

  <% @people.each do |person| %>
  <ul>
    <li><a href="/person/<%= person.id %>"> <%= person.firstName %> <%= person.lastName %></a></li>
  </ul>
  <% end %>
